* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-grey-1: #102a42;
  --clr-gray-5: #617d98;
  --clr-gray-10: #f1f5f8;
  --clr-white: #fff;
  --clr-primary-color: #f12525;
}
body {
  background-color: var(--clr-gray-10);
}
.center {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  border: 7.55px solid var(--clr-gray-10);
  border-top-color: var(--clr-gray-1);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  animation: round 1s linear infinite;
}
h1 {
  color: var(--clr-primary-color);
  letter-spacing: 4px;
  line-height: 2;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: move 0.5s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-100vh, -50%);
  }
  100% {
    transform: translate(100vh, -50%);
  }
}

@keyframes round {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
